<h1>Here are your "<%= @survey.name %>" questions:</h1>

<ol>
  <% @survey.questions.each do |question| %>
  <li><%= question.question %></li>
  <% end %>
</ol>

<form action="/survey/<%= @survey.id %>" method="post">
  <input type="text" id="new_question" placeholder = "Enter Survey Question" name="new_question">
  <button type="submit" name="add_question">Add Question</button>
</form>
